<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Cafe</title>
</head>
<body>
    <form action="{{ url_for('add_manual') }}" method="POST">
        <p><label>Cafe Name</label>
        <input type="text" name="name"></p>
        <p><label>Map URL</label>
        <input type="text" name="map_url"></p>
        <p><label>Image URL</label>
        <input type="text" name="img_url"></p>
        <p><label>Location</label>
        <input type="text" name="location"></p>
        <p><label>Has sockets</label>
        <input type="text" name="has_sockets"></p>
        <p><label>Has toilet</label>
        <input type="text" name="has_toilet"></p>
        <p><label>Has WiFI</label>
        <input type="text" name="has_wifi"></p>
        <p><label>Can take calls</label>
        <input type="text" name="can_take_calls"></p>
        <p><label>Number of seats</label>
        <input type="text" name="seats"></p>
        <p><label>Price of coffee</label>
        <input type="text" name="coffee_price"></p>
        <p><button type="submit">Add Cafe</button></p>
    </form>
</body>
</html>
