<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Cafe</title>
</head>
<body>
    <form action="{{ url_for('add_manual') }}" method="POST">
        <p><label>Cafe Name</label>
        <input type="text" name="name">
        <label>Map URL</label>
        <input type="text" name="map_url">
        <label>Image URL</label>
        <input type="text" name="img_url">
        <label>Location</label>
        <input type="text" name="location"></p>
        <p><label>Has sockets</label>
        <input type="text" name="has_sockets">
        <label>Has toilet</label>
        <input type="text" name="has_toilet">
        <label>Has WiFI</label>
        <input type="text" name="has_wifi">
        <label>Can take calls</label>
        <input type="text" name="can_take_calls"></p>
        <p><label>Number of seats</label>
        <input type="text" name="seats">
        <label>Price of coffee</label>
        <input type="text" name="coffee_price">
        <button type="submit">Add Cafe</button></p>
    </form>
</body>
</html>
